.config/clipse/clipboard_history.json
.config/clipse/tmp_files
.wget-hsts
Documents/ObsidianVault2/.obsidian/workspace.json
Documents/ObsidianVault2/.obsidian/
.config/clipse/clipse.log
.config/kitty/colors.conf
.config/rofi/colors.rasi
.config/swaync/colors.css
.config/waybar/colors.css
.viminfo
Documents/ObsidianVault2/.obsidian/plugins/
.sh_history
